name: Track userdoccers

on:
  schedule:
    - cron: "0 10 * * *"
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write
      packages: write
      pull-requests: write
      issues: write
      statuses: write
      deployments: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
      - name: Run script
        run: |
          bash get_routes.sh
      - name: set email
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - name: commit
        run: |
          ROUTES_MISSING=$(jq '.missing | length' logs.json)
          ROUTES_DONE=$(jq '.covered | length' logs.json)
          git add --all >> /dev/null
          git commit -am "${ROUTES_DONE} routes done / ${ROUTES_MISSING} routes missing" >> /dev/null
          git push >> /dev/null
